<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Live Poll
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Live Poll</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="forButton" (click)="doVote(1)">
          <ion-img src="assets/img/for.jpeg" scroll="false"></ion-img>
          <p>For</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="againstButton" (click)="doVote(2)">
          <ion-img src="assets/img/against.jpeg" scroll="false"></ion-img>
          <p>Against</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="abstainButton" (click)="doVote(3)">
          <ion-img src="assets/img/abstain.jpeg" scroll="false"></ion-img>
          <p>Abstain</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="margin: .5rem 1rem">Time Left: second(s)</div>
  

</ion-content>